<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-family-member-heading"
        data-cy="FamilyMemberCreateUpdateHeading"
        jhiTranslate="annualDecJhApp.familyMember.home.createOrEditLabel"
      >
        Create or edit a Family Member
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="annualDecJhApp.familyMember.nationalNumber" for="field_nationalNumber"
            >National Number</label
          >
          <input
            type="text"
            class="form-control"
            name="nationalNumber"
            id="field_nationalNumber"
            data-cy="nationalNumber"
            formControlName="nationalNumber"
          />
          <div
            *ngIf="
              editForm.get('nationalNumber')!.invalid && (editForm.get('nationalNumber')!.dirty || editForm.get('nationalNumber')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nationalNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nationalNumber')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 12 }"
            >
              هذا الحقل مطلوب أن يكون على الأقل 12 احرف.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nationalNumber')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 12 }"
            >
              هذا الحقل لا يمكن أن يكون أطول من 12 احرف.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="annualDecJhApp.familyMember.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="annualDecJhApp.familyMember.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('dateOfBirth')!.invalid && (editForm.get('dateOfBirth')!.dirty || editForm.get('dateOfBirth')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateOfBirth')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              هذا الحقل مطلوب.
            </small>
          </div>
        </div>

        <!--        <div class="row mb-3">-->
        <!--          <label class="form-label" jhiTranslate="annualDecJhApp.familyMember.gender" for="field_gender">Gender</label>-->
        <!--          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />-->
        <!--          <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">-->
        <!--            <small class="form-text text-danger" *ngIf="editForm.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">-->
        <!--              هذا الحقل مطلوب.-->
        <!--            </small>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="row mb-3" *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <label class="form-label" jhiTranslate="annualDecJhApp.familyMember.pensioner" for="field_pensioner">Pensioner</label>
          <select
            class="form-control"
            id="field_pensioner"
            data-cy="pensioner"
            name="pensioner"
            formControlName="pensioner"
            [compareWith]="compareSocialSecurityPensioner"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="socialSecurityPensionerOption"
              *ngFor="let socialSecurityPensionerOption of socialSecurityPensionersSharedCollection"
            >
              {{ socialSecurityPensionerOption.nationalNumber }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
