<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="familyMember">
      <h2 data-cy="familyMemberDetailsHeading"><span jhiTranslate="annualDecJhApp.familyMember.detail.title">Family Member</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ familyMember.id }}</span>
        </dd>
        <dt><span jhiTranslate="annualDecJhApp.familyMember.nationalNumber">National Number</span></dt>
        <dd>
          <span>{{ familyMember.nationalNumber }}</span>
        </dd>
        <dt><span jhiTranslate="annualDecJhApp.familyMember.name">Name</span></dt>
        <dd>
          <span>{{ familyMember.name }}</span>
        </dd>
        <dt><span jhiTranslate="annualDecJhApp.familyMember.dateOfBirth">Date Of Birth</span></dt>
        <dd>
          <span>{{ familyMember.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="annualDecJhApp.familyMember.gender">Gender</span></dt>
        <dd>
          <span>{{ familyMember.gender }}</span>
        </dd>
        <dt><span jhiTranslate="annualDecJhApp.familyMember.pensioner">Pensioner</span></dt>
        <dd>
          <div *ngIf="familyMember.pensioner">
            <a [routerLink]="['/social-security-pensioner', familyMember.pensioner.id, 'view']">{{
              familyMember.pensioner.nationalNumber
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/family-member', familyMember.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
